@model List<CommentSite>
@{
	ViewData["Title"] = "Index";
	int count = 0;
}


<div style="margin-bottom:200px;margin-top:50px;margin-left:20px;margin-right:20px">

	<h1>Comments:</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Fullname</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;


				<tr>
					<th scope="row">@count</th>
					<td><a asp-action="Details" asp-controller="CommenSite" asp-route-id="@item.Id">@item.CommentatorName @item.CommentatorSurname </a></td>
					<td>
						<img style="width:150px" src="~/uploads/commentsite/@item.Commentatorİmage"/>
						</td>
					<td>
						@if (item.IsFavorıte==false)
						{
							<a asp-action="FavoriteComment" asp-controller="CommenSite" asp-route-id="@item.Id" class="text-black" style="font-size:30px"> <i class="bi bi-heart"></i> </a>
						}
						else
						{
							<a asp-action="FavoriteComment" asp-controller="CommenSite" asp-route-id="@item.Id" class="text-danger" style="font-size:30px"><i class="bi bi-heart-fill"></i> </a>
						}
						<a asp-action="delete" asp-controller="CommenSite" asp-route-id="@item.Id" class="text-danger" style="font-size:30px"> <i class="bi bi-trash3-fill"></i> </a>
					</td>
				</tr>
			}
		</tbody>
	</table>






</div>
