@model Contact
@{
    ViewData["Title"] = "Details";
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url('/assets/images/hero_1.jpg');" id="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="custom-breadcrumbs mb-0">
                    <span class="text-white">Posted by</span class="text-white"> @Model.Name @Model.Surname</a>
                            <span class="mx-2 slash">&bullet;</span>
                    <span class="text-white"><strong>@Model.Data</strong></span>
                        </div>
                        <h1 class="text-white">@Model.Name @Model.Surname</h1>
                    </div>
                </div>
            </div>
        </section>
        <div style=" margin-top:100px;margin-bottom:250px ">  
             <h3 style="text-align:center" >@Model.Subject</h3>
       <p style="margin-left:30px;margin-right:30px ;margin-top:40px">@Model.Message</p>
       <a asp-action="index" asp-controller="Contact" class="text-black" style="margin-left:600px;margin-top:40px" >Back to list</a>
        </div>
      


