@model List<Contact>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

	<section class="section-hero overlay inner-page bg-image" style="background-image: url('/assets/images/hero_1.jpg');" id="home-section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="text-white font-weight-bold">Contact Us</h1>
						<div class="custom-breadcrumbs">
							<a asp-action="index" asp-controller="home">Home</a> <span class="mx-2 slash">/</span>
							<span class="text-white"><strong>Contacts</strong></span>
						</div>
					</div>
				</div>
			</div>
		</section>

<div  style="margin-bottom:200px;margin-top:50px;margin-left:20px;margin-right:20px">     
	
	<h1>Contacts:</h1>

	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Subject</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
	  @foreach (var item in Model)
			{
				count++;

				
				<tr>
					<th scope="row">@count</th>
					<td><a asp-action="Details" asp-controller="Contact" asp-route-id="@item.Id">@item.Name @item.Surname </a></td>
					<td><a asp-action="Details" asp-controller="Contact" asp-route-id="@item.Id">@item.Email </a></td>
					<td><a asp-action="Details" asp-controller="Contact" asp-route-id="@item.Id">@item.Subject </a></td>
					<td>
						<a asp-action="delete" asp-controller="Contact" asp-route-id="@item.Id" class="text-danger"> Delete </a>
					 </td>
				</tr>
			}
  </tbody>
</table>






</div>

