@model FAQvViewModels
@{
    ViewData["Title"] = "Index";
}



        <section class="section-hero overlay inner-page bg-image" style="background-image: url('/assets/images/hero_1.jpg');" id="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1 class="text-white font-weight-bold">Frequently Ask Questions</h1>
                        <div class="custom-breadcrumbs">
                            <a href="index-2.html">Home</a> <span class="mx-2 slash">/</span>
                            <span class="text-white"><strong>FAQ</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="site-section" id="accordion">
            <div class="container">
                <div class="row accordion justify-content-center block__76208">
                    @foreach (var item in Model.Images)
            {
                    <div class="col-lg-6">
                    <img src="~/uploads/QuestionsSectionImage/@item.Image" alt="Image" class="img-fluid rounded">
                    </div>
            }
                    <div class="col-lg-5 ml-auto">
                        @foreach (var item in Model.QuestionsAndAnswers)
                    {
                        <div class="accordion-item">
                            <h3 class="mb-0 heading">
                            <a class="btn-block h4" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">@item.Question<span class="icon"></span></a>
                            </h3>
                        <div id="collapseFive" class="collapse toggle-a" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="body-text">
                                    <p>@item.Answer</p>
                                </div>
                            </div>
                        </div>
                    
                    }
                    </div>
                </div>
            </div>
        </section>


        <section class="site-section bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center" data-aos="fade">
                        <h2 class="section-title mb-3">Happy Candidates Says</h2>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Comments)
            {
                    <div class="col-lg-6">
                        <div class="block__87154 bg-white rounded">
                            <blockquote>
                                <p>@item.Comment</p>
                            </blockquote>
                            <div class="block__91147 d-flex align-items-center">
                                <figure class="mr-4"><img src="~/uploads/commentsite/@item.Commentatorİmage" alt="Image" class="img-fluid"></figure>
                                <div>
                                    <h3>@item.CommentatorSurname @item.CommentatorName</h3>
                                    <span class="position">@item.Data?.ToString("MMMM dd,yyyy")</span>
                                </div>
                            </div>
                        </div>
                    </div>
            }
                </div>
            </div>
        </section>

